<h1 class="head1">New Post</h1>
<div id="table"><%= form_for(@post) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :body %>
	<%= f.text_area :body %>
	<%= f.submit :create %></div>
<% end %>